chainlit
datasets
ipykernel
ipywidgets
jupyter
langfuse
llama-index-core
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-vector-stores-chroma
llama-index-vector-stores-qdrant
openai
pipdeptree
pydantic-ai-slim[openai]
pydantic-ai[logfire]
python-dotenv
pyzmq
qdrant-client