chainlit==2.5.5
datasets==3.6.0
ipykernel==6.29.5
ipywidgets==8.1.7
jupyter==1.1.1
langfuse==2.60.4
llama-index-core==0.12.37
llama-index-embeddings-huggingface==0.5.4
llama-index-readers-file==0.4.7
llama-index-vector-stores-qdrant==0.6.0
openai==1.77.0
pydantic-ai-slim[openai]==0.2.2
pydantic-ai[logfire]==0.2.2
python-dotenv==1.1.0
pyzmq==26.4.0
qdrant-client==1.14.2